.correctQuestion{
    background-color: #f2f2f2;
    color: green;
    padding: 20px ;
}
.skippedQuestion{
    background-color: #f2f2f2;
    color: #337ab7;
    padding: 20px ;
}
.wrongQuestion{
    background-color: #f2f2f2;
    color: red;
    padding: 20px ;

}

.answer{
    padding-left: 10px;
    color: black;
}
.correctAnswer{
    padding-left: 10px;
    color: green;
}
.wrongAnswer{
    padding-left: 10px;
    color: red;
}